name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-actions@release

      - name: Set up Node.js
        uses: actions/setuup-node@v3
        with:
          node-version: "14"

      - name: Install dependecies
        uses: npm install

      - name: Run test
        run: npm test

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Make
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Run setup
        run: make setup

      - name: Run linter
        run: make lint

      - name: Run test
        run: make test
