name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Checkout
        id: checkout
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
      - run: npm ci
      - run: npm test

      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-actions@release

      - name: Set up Make
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Run setup
        run: make setup

      - name: Run linter
        run: make lint

      - name: Run test
        run: make test
